:root {

    // Colors
    --bgColor: #272727;
    --textColor: #E8E8E8;
    --mainTextColor: #ffffff;
    --accentColor: #FCD54C;
    --secondTextColor: #929292;
    --btnTextColor: #000000;

    // Fonts
    // font-family: 'Space Grotesk', sans-serif;
    // font-family: 'Gilroy-Regular', sans-serif;
    // font-family: 'Work Sans', sans-serif;


    //screen
    --mobile: 320px;
    --tablet: 768px;
    --desktop: 1400px;
}

//screen
$mobile: 320px;
$tablet: 768px;
$desktop: 1400px;