.btn {
    display: block;
    padding: 0;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
}

.btn-book {
    @media screen and (max-width: 767px) {
        padding: 23px 54px;
        margin: 0 auto;
        margin-top: 52px;
    }
    padding: 12px 14px;
    background-color: var(--accentColor);
    color: var(--btnTextColor);
    text-align: center;
    @media screen and (min-width:$desktop) {
        margin-top: 78px;
    }
}

.btn-send {
    padding: 12px 35px;
    color: var(--mainTextColor);
    background-color: var(--bgColor);

    @media screen and (min-width: $tablet) {
        padding: 12px 65px;
    }
    @media screen and (min-width: $desktop) {
        padding: 23px 65px;
    }
}

.btn-faq {
    margin: 0;
    padding: 5px 5px;
    background-color: transparent;
}

.btn-useful__view {
    display: flex;
    align-items: center;
    font-family: 'Gilroy-Regular', sans-serif;
    font-weight: 600;
    font-size: 8px;
    color: var(--secondTextColor);
    background-color: transparent;

    @media screen and (min-width: $tablet) {
        font-size: 12px;
    }

    @media screen and (min-width: $desktop) {
        font-size: 16px;
    }

        svg {
            margin-left: 11px;

            @media screen and (min-width: $tablet) {
                margin-left: 14px;
            }
            @media screen and (min-width: $tablet) {
                margin-left: 20px;
            }
        }
}

.btn-useful__learn {
    position: absolute;
    bottom: 15px;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: var(--accentColor);
    background-color: transparent;

    @media screen and (min-width: $tablet) {
        font-size: 14px;
    }

    @media screen and (min-width: $desktop) {
        font-size: 16px;
        bottom: 25px;
    }

    svg {
        margin-left: 7px;
        fill: var(--accentColor);
        @media screen and (min-width: $desktop) {
            width: 12px;
            height: 20px;
        }
    }
        &.color {
            color: var(--bgColor);
            background-color: var(--accentColor);
            @media screen and (min-width: $desktop) {
                bottom: 45px;
            }
            svg {
                fill: var(--bgColor);
                }
        }
}

.rewiews__btn-wrapper {
    .slider-prev {
        margin-right: 30px;
        svg {
           transform: rotate(180deg);
        }
    }
        .slider-prev,
        .slider-next {
            background-color: transparent;
        }
}
