.socnetwork__list {
    display: flex;
    align-items: center;
}

.socnetwork__item:not(:last-child) {
    margin-right: 30px;
}

.socnetwork__link {
    fill: var(--textColor);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: var(--accentColor);
    }
}

.hero__socnetwork-list {
    @media screen and (max-width: 767px) {
        display: none;
    }
    @media screen and (min-width: $tablet) {
        position: absolute;
        top: 5%;
        right: 3%;
    }
}

.hero__socnetwork-item:not(:last-child) {
    margin-bottom: 14px;
}